@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700;900&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeActive:hover{
  border-bottom: 1px solid hsl(26, 100%, 55%);
}
.menActive:hover{
  border-bottom: 1px solid hsl(26, 100%, 55%);
}
.womenActive:hover{
  border-bottom: 1px solid hsl(26, 100%, 55%);
}
.aboutActive:hover{
  border-bottom: 1px solid hsl(26, 100%, 55%);
}
.contactActive:hover{
  border-bottom: 1px solid hsl(26, 100%, 55%);
}



