@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700;900&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeActive:hover{
  border-bottom: 1px solid hsl(0, 1%, 78%, 0.5);
}
.menActive:hover{
  border-bottom: 1px solid hsl(0, 1%, 78%, 0.5);
}
.womenActive:hover{
  border-bottom: 1px solid hsl(0, 1%, 78%, 0.5);
}
.aboutActive:hover{
  border-bottom: 1px solid hsl(0, 1%, 78%, 0.5);
}
.contactActive:hover{
  border-bottom: 1px solid hsl(0, 1%, 78%, 0.5);
}

.list-Home:hover{
  background-color: gray;
}
.list-Men:hover{
  background-color: gray;
}
.list-Women:hover{
  background-color: gray;
}
.list-About:hover{
  background-color: gray;
}
.list-Contact:hover{
  background-color: gray;
}

